CLIENT_GATEWAY_PORT = 3000

# You can obtend your STRIPE_SECRET from https://dashboard.stripe.com/test/apikeys
STRIPE_SECRET =

STRIPE_SUCCESS_URL = http://localhost:3000/payments/success
STRIPE_CANCEL_URL = http://localhost:3000/payments/cancel

# You can obtend your STRIPE_ENDPOINT_SECRET (Singing secret) from https://dashboard.stripe.com/test/webhooks
STRIPE_ENDPOINT_SECRET =

AUTH_DATABASE_URL = mongodb+srv://user:12344567@localhost/AuthDB

JWT_SECRET = "1234567890123456"

PAYMENTS_MS_PORT = 3003

ORDERS_DATABASE_URL = postgresql://user:12344567@localhost/orders-db?sslmode=disable