[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-Course-AO/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-Microservices-Course-AO/products-ms.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Nest-Microservices-Course-AO/orders-ms.git
[submodule "payments-ms"]
	path = payments-ms
	url = https://github.com/Nest-Microservices-Course-AO/payments-ms.git
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/Nest-Microservices-Course-AO/auth-ms.git
